body{
  background-image: url("https://images.unsplash.com/photo-1488998427799-e3362cec87c3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navwarna{
    background-color: #00818A;
}
.padd1{
    padding: 1em;
}
.contentmain{
    background-color: #404B69;
    padding: 1em;
    color: white;
}
.footerwarna{
    background-color: #283149;
}
.card{
    background-color: none;
}
/* div{
    border: 1px solid black;
} */

@media (min-width: 768px) {
  .w-md-50 {
     width: 50% !important;
  }
}